<div class="modal-header">
  <h4 class="modal-title">Add new user</h4>
</div>

<form
  class="modal-body"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <app-form-control
    fieldId="name"
    label="Name"
    [control]="form.controls['name']"
    [patternError]="regexErrors.latinAndNumbersAndSpaces"
  >
    <input
      id="name"
      class="form-control"
      name="name"
      formControlName="name"
      [maxLength]="userNameMaxLength"
      required
      #field
    />
  </app-form-control>

  <app-form-control
    fieldId="email"
    label="Primary email"
    class="mt-3"
    [control]="form.controls['email']"
  >
    <input
      id="email"
      class="form-control"
      name="email"
      type="email"
      formControlName="email"
      required
      #field
    />
  </app-form-control>
</form>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss()"
    ngbAutofocus
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="this.form.invalid"
  >
    Create
  </button>
</div>

<app-spinner *ngIf="loading"></app-spinner>
